::placeholder {color: #e2e4e3; transition: color 0.5s;}

* {
  box-sizing: border-box;
}

body {
  padding: 15px;
  background: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
  letter-spacing: -0.3px;
  transition: all 0.3s;
}

a:hover {
  text-decoration: underline;
}

.ps-text {
  color: #ccc;
  padding-left: 2px;
  margin: 8px 0 0;
}

#search-form {
  width: 100%;
  position: relative;
}

#search-form h2 {
  font-size: 12px;
  color: #656565;
}

#search-form #search-box {
  position: relative;
}

#search-box input {
  line-height: 28px;
  height: 50px;
  padding: 3px 15px 3px 45px;
  font-size: 20px;
  font-weight: 500;
  color: #5a6767;
  display: inline-block;
  width: 100%;
  border: 0;
  transition: 0.3s;
}

#search-box input:focus {
  outline: none;
  color: #5a6767;
  box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.1);
}

#search-box #search-icon {
  margin: 0;
  position: absolute;
  top: 15px;
  left: 14px;
}

#keyword-container h2 {
  margin-top: 46px;
  padding-top: 40px;
  border-top: 1px solid #eee;
  font-size: 12px;
  color: #656565;
}

#keyword-container ul {
  padding: 0;
  list-style: none;
}

#keyword-container ul li {
  position: relative;
  background: #fff;
  padding-right: 30px;
  margin-bottom: 8px;
}

#keyword-container ul li:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
}

#keyword-container ul li:nth-child(1):before {
  background: #AEDFDB;
}
#keyword-container ul li:nth-child(2):before {
  background: #F4D94E;
}
#keyword-container ul li:nth-child(3):before {
  background: #F38D9B;
}
#keyword-container ul li:nth-child(4):before {
  background: #BEA6F9;
}
#keyword-container ul li:nth-child(5):before {
  background: #99d45D;
}

#keyword-container ul li p {
  display: inline-block;
  padding: 5px 5px 5px 20px;
  margin: 0;
  line-height: 34px;
  font-size: 16px;
}

#keyword-container ul li svg {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(0.7);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

#keyword-container ul li:hover svg {
  opacity: 1;
}

footer {
  color: #444;
  font-size: 11px;
  font-weight: bold;
  position: fixed;
  bottom: 15px;
  left: 20px;
}




